In [1]:
import pandas as pd
from googletrans import Translator

translator = Translator()

In [7]:
import numpy as np
def to_float(x):
    if type(x) == str and "," in x:
        x = x.replace(",", ".")
        return float(x)
    return x

## Amounts of waste given to disposal companies-states
Table 32151-0005
Columns: Year, State, Amount of waste handed over to disposal company within the state (t), Amount of waste handed over to disposal company to other states (t), Overall amount of waste handed over to disposal company (t)
Read Lines 9 - 76
To Translate: None

In [28]:
columns_names = "Year, State, Number of producers with primarily proven amounts of waste, Amount of waste handed over to disposal company within the state (t), Amount of waste handed over to disposal company to other states (t), Overall amount of waste handed over to disposal company (t)"
columns_names = columns_names.split(", ")
columns_names

['Year',
 'State',
 'Number of producers with primarily proven amounts of waste',
 'Amount of waste handed over to disposal company within the state (t)',
 'Amount of waste handed over to disposal company to other states (t)',
 'Overall amount of waste handed over to disposal company (t)']

In [29]:
filename1 = "Hazardous Waste-amounts of waste-amount of waste given to disposal companies-states.csv"
waste_df1 = pd.read_csv(filename1, skiprows=8, nrows=76-8, encoding="latin-1", header=None, sep=";", names=columns_names)
waste_df1.tail()

,Year,State,Number of producers with primarily proven amounts of waste,Amount of waste handed over to disposal company within the state (t),Amount of waste handed over to disposal company to other states (t),Overall amount of waste handed over to disposal company (t)
63,2008,Sachsen,1127,669556,353085,1022641
64,2008,Sachsen-Anhalt,657,455162,313646,768809
65,2008,Schleswig-Holstein,685,252854,230915,483769
66,2008,Thüringen,694,206058,443482,649540
67,2008,Insgesamt,24849,11456907,5912390,17369297

In [30]:
waste_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 6 columns):
 #   Column                                                                Non-Null Count  Dtype
---  ------                                                                --------------  -----
 0   Year                                                                  68 non-null     int64
 1   State                                                                 68 non-null     object
 2   Number of producers with primarily proven amounts of waste            68 non-null     int64
 3   Amount of waste handed over to disposal company within the state (t)  68 non-null     int64
 4   Amount of waste handed over to disposal company to other states (t)   68 non-null     int64
 5   Overall amount of waste handed over to disposal company (t)           68 non-null     int64
dtypes: int64(5), object(1)
memory usage: 3.3+ KB

In [31]:
waste_df1

,Year,State,Number of producers with primarily proven amounts of waste,Amount of waste handed over to disposal company within the state (t),Amount of waste handed over to disposal company to other states (t),Overall amount of waste handed over to disposal company (t)
0,2005,Baden-Württemberg,3307,952796,464080,1416876
1,2005,Bayern,4324,1709101,474278,2183379
2,2005,Berlin,609,208243,380287,588530
3,2005,Brandenburg,652,470360,289992,760352
4,2005,Bremen,310,99969,101004,200973
...,...,...,...,...,...,...
63,2008,Sachsen,1127,669556,353085,1022641
64,2008,Sachsen-Anhalt,657,455162,313646,768809
65,2008,Schleswig-Holstein,685,252854,230915,483769
66,2008,Thüringen,694,206058,443482,649540
67,2008,Insgesamt,24849,11456907,5912390,17369297

In [21]:
waste_df1.to_csv("cleaned_32151-0005_Hazardous-Waste-Amounts-of-waste-given-to-disposal-companies-states.csv", index=False)

## Waste-producers-amount of waste given to disposal companies-years
Table 32151-0004
Columns: Year, Number of producers of primarily amount of waste, Amount of waste handed over to disposal companies within the state (t), Quantity of waste handed over to waste disposal companies in other federal states (t), Overall amount of waste handed over to waste disposal companies (t) 
Read Lines: 10 - 13
To Translate: None

In [16]:
columns_names = "Year, Number of producers of primarily amount of waste, Amount of waste handed over to disposal companies within the state (t), Amount of waste handed over to disposal companies in other federal states (t), Overall amount of waste handed over to waste disposal companies (t)"
columns_names = columns_names.split(", ")
columns_names

['Year',
 'Number of producers of primarily amount of waste',
 'Amount of waste handed over to disposal companies within the state (t)',
 'Amount of waste handed over to disposal companies in other federal states (t)',
 'Overall amount of waste handed over to waste disposal companies (t)']

In [23]:
filename2 = "Hazardous Waste-producers-amount of waste given to disposal companies-years.csv"
waste_df2 = pd.read_csv(filename2, sep=";", skiprows=9, nrows=13-9, encoding="latin-1", header=None, names=columns_names)
waste_df2.tail()

,Year,Number of producers of primarily amount of waste,Amount of waste handed over to disposal companies within the state (t),Amount of waste handed over to disposal companies in other federal states (t),Overall amount of waste handed over to waste disposal companies (t)
0,2005,24547,12099252,5802897,17902148
1,2006,24682,11564763,5531623,17096385
2,2007,24704,11431408,5235114,16666523
3,2008,24849,11456907,5912390,17369297

In [24]:
waste_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column                                                                         Non-Null Count  Dtype
---  ------                                                                         --------------  -----
 0   Year                                                                           4 non-null      int64
 1   Number of producers of primarily amount of waste                               4 non-null      int64
 2   Amount of waste handed over to disposal companies within the state (t)         4 non-null      int64
 3   Amount of waste handed over to disposal companies in other federal states (t)  4 non-null      int64
 4   Overall amount of waste handed over to waste disposal companies (t)            4 non-null      int64
dtypes: int64(5)
memory usage: 288.0 bytes

In [26]:
waste_df2.to_csv("cleaned-32151-0004_Waste-producers-amount-of-waste-given-to-disposal-companies-years.csv", index=False)

## Hazardous Waste-producers-amounts of waste-federal states-years.csv
Table 32151-0003
Columns: Year, State, Number of waste producers, Waste quantities (1000t), Waste quantities generated by primary producers (1000t)
Read Lines: 7 - 278
To Translate: None

In [27]:
columns_names = "Year, State, Number of waste producers, Waste quantities (1000t), Waste quantities generated by primary producers (1000t)"
columns_names = columns_names.split(", ")
columns_names

['Year',
 'State',
 'Number of waste producers',
 'Waste quantities (1000t)',
 'Waste quantities generated by primary producers (1000t)']

In [49]:
filename3 = "Hazardous Waste-producers-amounts of waste-federal states-years.csv"
waste_df3 = pd.read_csv(filename3, sep=";", header=None, names=columns_names, skiprows=6, nrows=278-6, encoding="latin-1", na_values="...")
waste_df3.tail()

,Year,State,Number of waste producers,Waste quantities (1000t),Waste quantities generated by primary producers (1000t)
267,2021,Sachsen,1371.0,"860,5","708,5"
268,2021,Sachsen-Anhalt,756.0,"1453,6","576,1"
269,2021,Schleswig-Holstein,845.0,"552,2","479,9"
270,2021,Thüringen,636.0,"428,2","356,6"
271,2021,Insgesamt,24030.0,"23465,0","17486,9"

In [50]:
import numpy as np
def to_float(x):
    if type(x) == str and "," in x:
        x = x.replace(",", ".")
        return float(x)
    return x

In [51]:
for col in columns_names[2:]:
    waste_df3[col] = waste_df3[col].apply(lambda x: to_float(x))
print(waste_df3.head())
print(waste_df3.info())

   Year              State  Number of waste producers  \
0  2006  Baden-Württemberg                     3642.0
1  2006             Bayern                     4320.0
2  2006             Berlin                      617.0
3  2006        Brandenburg                      787.0
4  2006             Bremen                      309.0

   Waste quantities (1000t)  \
0                    2046.2
1                    2495.7
2                     610.7
3                     882.9
4                     323.5

   Waste quantities generated by primary producers (1000t)
0                                             1458.3
1                                             1415.2
2                                              521.0
3                                              699.7
4                                              215.9
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 272 entries, 0 to 271
Data columns (total 5 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   Year                                                     272 non-null    int64
 1   State                                                    272 non-null    object
 2   Number of waste producers                                271 non-null    float64
 3   Waste quantities (1000t)                                 271 non-null    float64
 4   Waste quantities generated by primary producers (1000t)  271 non-null    float64
dtypes: float64(3), int64(1), object(1)
memory usage: 10.8+ KB
None

In [52]:
waste_df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 272 entries, 0 to 271
Data columns (total 5 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   Year                                                     272 non-null    int64
 1   State                                                    272 non-null    object
 2   Number of waste producers                                271 non-null    float64
 3   Waste quantities (1000t)                                 271 non-null    float64
 4   Waste quantities generated by primary producers (1000t)  271 non-null    float64
dtypes: float64(3), int64(1), object(1)
memory usage: 10.8+ KB

In [53]:
waste_df3.to_csv("cleaned_32151-0003_Producers-amounts-of-waste-federal-states-years.csv", index=False)

## Hazardous Waste-producers-quantities-years-industry-types of waste(EAV 2).csv
Table 32151-0001
Columns: Year, Industry Code, Industry, EAV code, Waste Description, Number of waste generators, Volumes of waste (1000t), Volumes of waste generated by primary producers (1000t)
Read Lines: 9 - 10298
To Translate: Industry, Waste Description

In [2]:
columns_names = "Year, Industry Code, Industry, EAV code, Waste Description, Number Of Waste Generators, Volumes Of Waste (1000t), Volumes Of Waste Generated By Primary Producers (1000t)"
columns_names = columns_names.split(", ")
columns_names

['Year',
 'Industry Code',
 'Industry',
 'EAV code',
 'Waste Description',
 'Number Of Waste Generators',
 'Volumes Of Waste (1000t)',
 'Volumes Of Waste Generated By Primary Producers (1000t)']

In [3]:
filename4 = "Hazardous Waste-producers-quantities-years-industry-types of waste(EAV 2).csv"
waste_df4 = pd.read_csv(filename4, sep=";", header=None, encoding="latin-1", names=columns_names, skiprows=8, nrows=10298-8, na_values="-")
waste_df4.tail()

,Year,Industry Code,Industry,EAV code,Waste Description,Number Of Waste Generators,Volumes Of Waste (1000t),Volumes Of Waste Generated By Primary Producers (1000t)
10285,2021,NaN,Insgesamt,EAV-17,Bau- und Abbruchabfälle,13449.0,"9171,3","8065,9"
10286,2021,NaN,Insgesamt,EAV-18,Abfälle aus der medizinischen Versorgung,276.0,"36,7","28,6"
10287,2021,NaN,Insgesamt,EAV-19,Abfälle aus Abfallbehandlungsanlagen u.a.,1666.0,"6769,9","2959,2"
10288,2021,NaN,Insgesamt,EAV-20,Siedlungsabfälle (Haushaltsabfälle u.ä. Abfälle),804.0,"116,1","73,5"
10289,2021,NaN,Insgesamt,NaN,Insgesamt,24030.0,"23465,0","17486,9"

In [4]:
waste_df4.head()

,Year,Industry Code,Industry,EAV code,Waste Description,Number Of Waste Generators,Volumes Of Waste (1000t),Volumes Of Waste Generated By Primary Producers (1000t)
0,2008,WZ08-A,"Land- und Forstwirtschaft, Fischerei",EAV-01,Abfälle aus der Gewinnung von Bodenschätzen,NaN,NaN,NaN
1,2008,WZ08-A,"Land- und Forstwirtschaft, Fischerei",EAV-02,"Abfälle aus Landwirtschaft, Forstwirtschaft u.a.",NaN,NaN,NaN
2,2008,WZ08-A,"Land- und Forstwirtschaft, Fischerei",EAV-03,Abfälle aus der Holzbearbeitung u.a.,NaN,NaN,NaN
3,2008,WZ08-A,"Land- und Forstwirtschaft, Fischerei",EAV-04,"Abfälle aus der Leder-, Pelz- und Textilindustrie",NaN,NaN,NaN
4,2008,WZ08-A,"Land- und Forstwirtschaft, Fischerei",EAV-05,"Abfälle aus der Erdölraffination, Erdgasreinigung",NaN,NaN,NaN

In [5]:
# Translate Industry
industries = waste_df4['Industry'].unique()
industries_en = (translator.translate(x).text for x in industries)
industries_translation = dict(zip(tuple(industries), industries_en))
waste_df4['Industry'] = waste_df4['Industry'].apply(lambda x: industries_translation[x])
waste_df4['Industry'] = waste_df4['Industry'].str.title()
waste_df4

,Year,Industry Code,Industry,EAV code,Waste Description,Number Of Waste Generators,Volumes Of Waste (1000t),Volumes Of Waste Generated By Primary Producers (1000t)
0,2008,WZ08-A,"Agriculture And Forestry, Fisheries",EAV-01,Abfälle aus der Gewinnung von Bodenschätzen,NaN,NaN,NaN
1,2008,WZ08-A,"Agriculture And Forestry, Fisheries",EAV-02,"Abfälle aus Landwirtschaft, Forstwirtschaft u.a.",NaN,NaN,NaN
2,2008,WZ08-A,"Agriculture And Forestry, Fisheries",EAV-03,Abfälle aus der Holzbearbeitung u.a.,NaN,NaN,NaN
3,2008,WZ08-A,"Agriculture And Forestry, Fisheries",EAV-04,"Abfälle aus der Leder-, Pelz- und Textilindustrie",NaN,NaN,NaN
4,2008,WZ08-A,"Agriculture And Forestry, Fisheries",EAV-05,"Abfälle aus der Erdölraffination, Erdgasreinigung",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
10285,2021,NaN,In Total,EAV-17,Bau- und Abbruchabfälle,13449.0,"9171,3","8065,9"
10286,2021,NaN,In Total,EAV-18,Abfälle aus der medizinischen Versorgung,276.0,"36,7","28,6"
10287,2021,NaN,In Total,EAV-19,Abfälle aus Abfallbehandlungsanlagen u.a.,1666.0,"6769,9","2959,2"
10288,2021,NaN,In Total,EAV-20,Siedlungsabfälle (Haushaltsabfälle u.ä. Abfälle),804.0,"116,1","73,5"
10289,2021,NaN,In Total,NaN,Insgesamt,24030.0,"23465,0","17486,9"

In [9]:
waste_df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10290 entries, 0 to 10289
Data columns (total 8 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   Year                                                     10290 non-null  int64
 1   Industry Code                                            9996 non-null   object
 2   Industry                                                 10290 non-null  object
 3   EAV code                                                 9800 non-null   object
 4   Waste Description                                        10290 non-null  object
 5   Number Of Waste Generators                               6370 non-null   float64
 6   Volumes Of Waste (1000t)                                 6370 non-null   float64
 7   Volumes Of Waste Generated By Primary Producers (1000t)  6369 non-null   float64
dtypes: float64(3), int64(1), object(4)
memory usage: 643.2+ KB

In [8]:
waste_df4['Volumes Of Waste (1000t)'] = waste_df4['Volumes Of Waste (1000t)'].apply(lambda x: to_float(x))
waste_df4['Volumes Of Waste Generated By Primary Producers (1000t)'] = waste_df4['Volumes Of Waste Generated By Primary Producers (1000t)'].apply(lambda x: to_float(x))

In [10]:
waste_df4['Waste Description'] = waste_df4['Waste Description'].apply(lambda x: translator.translate(x).text)
waste_df4.to_csv("cleaned_32151-0001_producers-quantities-years-industry-types of waste(EAV 2).csv", index=False)

## Hazardous Waste-producers-quantities-years-types of waste(EAV 2 and 6 digits).csv
Table 32151-0002
Columns: Year, EAV Code, Waste Description, Number of waste producers, Quantities of waste, Quantities of waste generated by primary producers
Read Lines: 8 - 6807
To Translate: Waste Description

In [13]:
columns_names = "Year, EAV Code, Waste Description, Number Of Waste Producers, Quantities Of Waste (1000t), Quantities Of Waste Generated By Primary Producers (1000t)"
# columns_names = columns_names.title()
columns_names = columns_names.split(", ")
columns_names

['Year',
 'EAV Code',
 'Waste Description',
 'Number Of Waste Producers',
 'Quantities Of Waste (1000t)',
 'Quantities Of Waste Generated By Primary Producers (1000t)']

In [21]:
filename5 = "Hazardous Waste-producers-quantities-years-types of waste(EAV 2 and 6 digits).csv"
waste_df5 = pd.read_csv(filename5, sep=";", header=None, names=columns_names, skiprows=7, nrows=6807-7, encoding="latin-1", na_values=["-","."])
waste_df5.head()

,Year,EAV Code,Waste Description,Number Of Waste Producers,Quantities Of Waste (1000t),Quantities Of Waste Generated By Primary Producers (1000t)
0,2006,EAV-01,Abfälle aus der Gewinnung von Bodenschätzen,26.0,"140,6","139,5"
1,2006,EAV-010304-G,Säure bildende Aufbereitungsrückstände a. su...,NaN,NaN,NaN
2,2006,EAV-010305-G,Andere Aufbereitungsrückstände mit gefährl.S...,NaN,NaN,NaN
3,2006,EAV-010307-G,Abfälle aus Verarb. metallhaltiger Bodenschätze,NaN,NaN,NaN
4,2006,EAV-010407-G,Abfälle a.Weiterverarb. nichtmetallh. Bodens...,3.0,"0,4","0,4"

In [25]:
waste_df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6800 entries, 0 to 6799
Data columns (total 6 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   Year                                                        6800 non-null   int64
 1   EAV Code                                                    6800 non-null   object
 2   Waste Description                                           6800 non-null   object
 3   Number Of Waste Producers                                   5584 non-null   float64
 4   Quantities Of Waste (1000t)                                 5584 non-null   float64
 5   Quantities Of Waste Generated By Primary Producers (1000t)  5543 non-null   float64
dtypes: float64(3), int64(1), object(2)
memory usage: 318.9+ KB

In [23]:
# Convert to numeric
waste_df5['Quantities Of Waste (1000t)'] = waste_df5['Quantities Of Waste (1000t)'].apply(lambda x: to_float(x))
waste_df5["Quantities Of Waste Generated By Primary Producers (1000t)"] = waste_df5["Quantities Of Waste Generated By Primary Producers (1000t)"].apply(lambda x: to_float(x))

In [26]:
waste_df5['Waste Description'] = waste_df5['Waste Description'].apply(lambda x: translator.translate(x).text)
waste_df5.to_csv("cleaned_32151-0002_producers-quantities-years-types of waste(EAV 2 and 6 digits).csv", index=False)

In [27]:
waste_df5.head()

,Year,EAV Code,Waste Description,Number Of Waste Producers,Quantities Of Waste (1000t),Quantities Of Waste Generated By Primary Producers (1000t)
0,2006,EAV-01,waste from the extraction of mineral resources,26.0,140.6,139.5
1,2006,EAV-010304-G,Acid-forming tailings a. sul. ore,NaN,NaN,NaN
2,2006,EAV-010305-G,Other processing residues containing hazardous...,NaN,NaN,NaN
3,2006,EAV-010307-G,Waste from processing metal-bearing mineral re...,NaN,NaN,NaN
4,2006,EAV-010407-G,Waste from further processing non-metal Minera...,3.0,0.4,0.4